.something {
  fill: grey;
}

.pento-score {
  color: red;
}

.guess-box {
  width: 140px;
  font-family: 'Roboto', sans-serif;
  font-size: 31px;
  color: #000;
  // border: 1px solid #7999F0;
  transition: all 0.3s ease 0s;
  background-color: #ccdbfd;
  padding: 15px;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.guess-box:hover {
  background-color: #abc4ff;
  box-shadow: 0px 15px 20px rgba(133, 188, 243, 0.4);
  color: white;
  transform: translateY(-7px);
}

.faq-buttons-section {
  // display: block;
  // width: 15%;
  display: flex;
  flex-direction: row;
}

.icon-button {
  // display: flex;
  margin-left: 5px;
  height: 1.5em;
  width: 1.5em;
  fill: palevioletred;
}

.file-uploader {
  padding: 10px;
  border: 2px dashed #DCDADA;
  margin-bottom: 20px;
}